[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3"
pillow = "*"
opencv-contrib-python = "==4.5.5.62"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
